<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/orderinfo.css" type="text/css"/>
    <title>Time</title>
  </head>
    <body>
       <div class="container">
        <h1>Hi! You Ordered the Following </h1>
       </div>
        <section class = 'order-container'>
          <table class="Table">
          <% for(let key in order) { %>
          <tr>

        <td id="nameid"><%= order[key]['name'] %></td>
        <td id="quantityid"><%= "quantity: " + order[key]['quantity'] %></td>
         <td id="priceid"><%="price: $" + order[key]['price']/100 %></td>
           <td id="pricetotalitem"><%="total amount paid for item: $" + order[key]['price']/100 * order[key]['quantity']%></td>
          <% if (order[key]['wait_time'] == 0) { %>
          <td id="ready"><%= "wait time: ready" %></td>
              <% }  else if (order[key]['wait_time'] == null) {%>
          <td id="unknown"><%= "wait time: unknown" %></td>
          <% } else { %>
          <td id="wait"><%= "wait time: " + order[key]['wait_time']%></td>
             <% }%><div>
           <% }%>
         </tr>
           <div id="totaled"><%="total purchase price: $" + totalPrice/100 %></div>
        </section>
      </form>
    </body>
</html>




