<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/orderinfo.css" type="text/css"/>
    <title>Time</title>
  </head>
    <body>
       <div class="container">
        <h1>Hi! You Ordered the Following </h1>
       </div>
        <section class = 'order-container'>
          <% for(let key in order) { %>
        <p><%= order[key]['name'] %></p>
        <p><%= "quantity: " + order[key]['quantity'] %></p>
         <p><%="price: $" + order[key]['price']/100 %></p>
           <p><%="total price of item: $" + order[key]['price']/100 * order[key]['quantity']%></p>
          <% if (order[key]['wait_time'] == 0) { %>
              <div><p><%= "wait time: ready" %></p></div>
              <% }  else if (order[key]['wait_time'] == null) {%>
          <b><p><%= "wait time: unknown" %></p><b>
          <% } else { %>
            <em> <p><%= "wait time: " + order[key]['wait_time']%></p> </em>
             <% }%>
           <% }%>
        </section>
      </form>
    </body>
</html>




